<div class="bsEdit">
  <div class="p-3 mb-2 bg-dark text-white">
    <h1 class="header">Jake Brose</h1>
  </div>
</div>
<div class="bsEdit">
  <ul class="nav nav-pills bg-dark">
    <li class="nav-item">
      <a class="nav-link btn-dark" ng-href="/#!">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-dark" ng-href="/#!/portfolio">Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-dark" ng-href="/#!/contact">Contact</a>
    </li>
  </ul>
</div>