<div class="bsEdit">
    <div class="p-3 mb-2 bg-dark text-white">
        <h1 class="header">Jake Brose</h1>
    </div>
</div>
<div class="bsEdit">
    <ul class="nav nav-pills bg-dark">
        <li class="nav-item">
            <a class="nav-link active btn-dark" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  btn-dark" href="#">Resume</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-dark" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-dark" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-dark" href="#">Contact</a>
        </li>
    </ul>
</div>
<div>
<img class="logoOne" src="images/logoMk2.png
    "alt="logo">
</div>
<div >
    <p class="introText bg-dark text-white">
        I am a software engineer from Nashville, Tennessee
    </p>
</div>